.wrapper
  = render 'groups/side_bar'

  .header
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'

  .contents
    = render 'groups/side_bar'

  .content
    .content__right
      .content__right-botton
        Edit
      .content__right-text
        投稿１１１１１
      .content__right-mini
        テストテスト
    .content__row
      = render @messages

    .content__footer
      .content__footer-text
        .content__footer-text-message
          type a message
        .content__footer-text-imageicon
          %i.fa.fa-image
      .content__footer-botton
        SEND
