.wrapper
  = render 'groups/side_bar'

  .header

  .contents

  .content
    .content__right
      .content__right-botton
        Edit
      .content__right-text
        投稿１１１１１
      .content__right-mini
        テストテスト
    .content__row
      = render @messages

    .content__footer
      = form_for [@group, @message] do |f|
        .content__footer-text
          = f.text_field :content, class: 'content__footer-text-message', placeholder: 'type a message'
          = f.label :image, class: 'content__footer-text-imageicon' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'content__footer-botton'
